#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo  
  expire: False

users:
  - name: josemamani # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
     - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC3bOF/0pQbKq6ArMCmgwhB8MtuTr0tzNcbq2neOIGa2c/yFMPBsxn3o9lmHM3YDBbYEKmf+6lzKshRbiw9E89cwmn3xoz3BYUMJrcvPU6iBJg4rliylmtq5qk+ul2BISSi5AIddNwHfQav26/u+L0XRE9j7O6IgsbhPJ9OmpQAz+DTG1ng7rO2zRR4p/4LzN3uSn0idrdbgbq3LNdOXSRlXpPGK7cl+cYfcs0tNgG9wCxasoELHs+9eZLnee2/YWnS+os3QaUfVeWWU0HeN38aJB3nFJVhGnf5T4AC0rwSJwSUml/bY+1Dkk73RzTI4Z+OFwzebDxKAZrqrms2GivJ joseluis@joseluis
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
